/*SANTI STUFF (for eye mostly):*/
#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 0;;
}

#valueProp {
    font-size: clamp(28px, 4vw, 44px);
    line-height: 1.1;
    margin: 0;
}
.eye-hero {
    display: block;
    color: #111;
}

/*END SANTI STUFF*/

#loginBtn {
    background: none;
    border: none;
}

#signupBtnSmall {
    background: none;
    border: 1px solid var(--textColor);
    margin-left: 12px;
    border-radius: 8px;
    padding: 4px 12px 4px 12px;
    margin-right: 100px;
}

#valueProp u {
    color: var(--accent);
}

#signUpWithGoogle {
    display: flex;
    align-items: center;

    background: none;
    font-size: 24px;
    padding: 12px 16px 12px 16px;
    border-radius: 20px;
}

#googleLogo {
    width: 20px;
    width: 20px;
    margin-right: 8px;
}