main {
    margin: 84px 40px;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 0px 0px 0px;
}

#valueProp {
    margin: 0;
    flex: 1;
    text-wrap: wrap;
}

#subtitleProp {
    text-wrap: wrap;
    width: 80%;
}

#signInBtnBig {
    display: flex;
    align-items: center;
    border: 1px solid var(--textColor);
    border-radius: 24px;
    padding: 8px 24px 8px 24px;
    margin-top: 12px;
    transition: 
        box-shadow 0.15s ease,
        transform 0.15s ease;
    box-shadow: 0px 2px 2px var(--highlight);
    box-shadow: 0px 2px 0px var(--accent);
    transform: translate(0px, -1px);
}

#googleLogo {
    width: 20px;
    height: 20px;
}

#signInBtnBig p {
    margin: 0px 0px 0px 12px;
    font-size: 20px;
    color: var(--textColor);
}

#signInBtnBig:hover {
    box-shadow: 0px 4px 0px var(--accent);
    transform: translate(0px, -2px);
}